*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: cursive;
}
.container{
  min-height: 100vh;
  background:linear-gradient(rgba(213,15,61,0.6), rgba(13,17,198,0.69)),url('../images/city.jpg')center/cover no-repeat;
  position: relative;
}
.container-content{
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content-title{
  text-transform: uppercase;
  font-size: 2.2rem;
  color: cyan;
}
.content-subtitle{
  font-size: 2rem;
  margin-top: 2rem;
}
.btn{
  display: inline-block;
  color: #fff;
  background: yellow;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 20px;
}
.btn:hover{
  color: #000;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
